DEBUG=1
ALLOWED_HOSTS=localhost,127.0.0.1,host.docker.internal,b7ca-65-109-211-81.ngrok-free.app
SECRET_KEY=django-insecure-xdk5cp__346q5+@ct(a)rzjg(kglaa8n6&-ttj8aw7e)%@a)hu
POSTGRES_DB=delaleh_db
POSTGRES_HOST=delaleh_db
POSTGRES_USER=delaleh_user
POSTGRES_PASSWORD=secret_password
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
USE_NGROK=1
NGROK_URL=https://b7ca-65-109-211-81.ngrok-free.app
